/*========================
GLOBALS
========================*/

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0 auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: grey;
}


/*========================
HEADER
========================*/

.head {
  background: #9F79EE;
  color: #E0EEEE;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  padding-right: 1em;
  padding-left: 1em;
}

.head-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.head-text {
  margin-right: auto;
}

.bold {
  font-weight: 900;
}

.light {
  font-weight: 500;
}

.notifyBell svg {

  fill: #b3d1d1;
}

.notifyBell {

  margin-right: -481px;
  border-right: 1px solid #b3d1d1;
  padding-right: 5px;
  padding-top: 5px;
  position: relative;

}

.notifyBell::before {
  position: absolute;
  z-index: 10;
  left: 16px;
  content: "";
  width: .5em;
  height: .5em;
  background: #7ad38b;
  border-radius: 50%;
}

.notifyBell:hover::before {
  width: 0;
  height: 0;
  top: 45px;
  left: 2px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(58, 58, 58, 0.75);
  background: transparent;
  border-radius: 0;
}

.notifyBell:hover::after {
  position: absolute;
  z-index: 11;
  right: -24px;
  top: 45px;
  width: 110px;
  height: 10px;
  background: rgba(58, 58, 58, 0.9);
  box-shadow: 0px 4px 14px 0px #232323;
  border-radius: 4px;
  content: "You are important";
  padding: 1em;
  font-size: .8em;
  text-align: center;
}

.avatar {
  margin-right: 5px;
}

.avatar img {
  float: right;
  border-radius: 50%;
  width: 25px;
}

/*========================
NAV
========================*/

#nav {
  background: #00F5FF;
  display: flex;
  justify-content: center;
  z-index: 50;
  height: 135px;
}

.nav-list {
  display: flex;
  margin-top: 75px;
  margin-bottom: 0px;
}

.nav-list li {
  width: 70px;
  padding: 1em;
}

.activeNav {

  border-left: 5px solid #546886;
}

/*========================
CONTAINERS
========================*/

main {
  background: #edeff0;
}

.wrapper {
  padding: .5em;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cont-head {
  margin: 10px 5px;
}

.box {
  margin-bottom: 3px;
  background: #fff;
  border-radius: 4px;
  padding: .5em;
  box-shadow: 0px 1px 4px 0px #969696;
  max-width: 100%;
}

.flex-item {
  flex: 1 0 100%;
}

/*========================
ALERT
========================*/

#alertBar {
  display: flex;
  align-items: center;
  padding: 1em;
  margin: 20px 0px;
  height: 40px;
  background: #48D09B;
  border-radius: 4px;
  color: #fff;
}

.alert1 {
  margin-right: 5px
}

.icon-x {
  margin-left: auto;
  width: 15px;
  height: 15px;
}

/*========================
DASHBOARD/SEARCHBOX
========================*/

.dashboard {
  display: flex;
  align-items: center;
}

.dash-txt {
  margin-right: auto;
}

#searchBox {
  font-size: 1em;
  padding-left: .5em;
  height: 40px;
  width: 50%;
  border-radius: 4px;
  border: 1px solid lightgray;
  outline: none;
}

/*========================
CHART HEADER & LINKS
========================*/

#traffic-header {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

#traffic-header span {
  margin-right: auto;
}

#traffic-header a {
  font-size: .85em;
  padding: .5em;
  transition: transform .25s;
}

#traffic-header a:hover {
  transform: scale(1.15);
}

#traffic-header a:active {
  transform: scale(1);
}

.activeTraf {
  color: #fff;
  background: #5aedab;
  border-radius: 200px;
  box-shadow: 0px 1px 5px 0px #333;
}

#trafficChart {
  width: 100%;
}

/*========================
SOCIAL STATS
========================*/

.social-box {
  display: flex;
  flex-wrap: wrap;
  flex: 1 90px;
  padding: 1em;
  margin: 20px 5px;
  background: #e8e8e8;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px #e00d0d;
}

.social-s-box {
  display: flex;
  flex-direction: column;
}

.social-net {
  margin-top: 5px;
  margin-bottom: 5px;
}

.social-icon {
  margin: 5px 10px 5px 0px;
  fill: #fff;
  background: #5d98ef;
  border-radius: 50%;
}

/*========================
MEMBER STATS
========================*/

.inner-flex {
  margin-top: 15px;
  display: flex;
  align-items: center;
  padding: .5em .05em;
  border-bottom: 1px solid lightgray;
}

.inner-flex a {
  font-size: .9em;
}

.mem-img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.mem-info {
  font-size: .9em;
  margin-top: 0px;
  margin-bottom: 2.5px;
}

.mem-date {
  font-size: .8em;
  margin-left: auto;
}

/*========================
MSG & SETTINGS
========================*/

#searchUser,
#messageUser,
#sendMessage,
#timezoneSelect,
#saveSettings,
#cancel {
  width: 100%;
  font-size: 1em;
  padding-left: .5em;
  border-radius: 4px;
  border: 1px solid lightgrey;
  outline: none;
  margin-bottom: 10px;
}

#saveSettings,
#cancel {
  width: 45%;
  height: 40px;
  font-size: 1em;
  padding-left: .5em;
  border-radius: 4px;
  border: 1px solid lightgrey;
  outline: none;
  color: #fff;
}

#saveSettings {
  margin-right: auto;
  background: #205fbc;
}

#message {
  position: relative;
}

#searchUser {
  height: 40px;
}

#messageUser {
  height: 100px;
  resize: none;
}

#sendMessage {
  height: 40px;
  color: #fff;
  background: #205fbc;;
  border: none;
}

#error,
#success {
  position: absolute;
  height: 40px;
  width: 100%;
  bottom: 10px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

#error {
  background: red;
}

#success {
  background: #2B7C5D;
}

#timezone {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 40px;
}

#timezoneSelect {
  height: 40px;
}

.setting {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 24px;
  margin-left: auto;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #205fbc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background: #48D09B;
}

input:focus + .slider {
  box-shadow: 0 0 1px #205fbc;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*========================
M QUERIES
========================*/

@media screen and (min-width: 768px) {

  .head-text {
    font-size: 1.25em;
  }

  #nav {
    height: 100vh;
    align-items: flex-start;
    position: fixed;

  }

  .nav-list {
    display: block;
    margin-top: 100px;
  }

  .wrapper {
    padding-left: 5em;
    padding-right: 1em;
    padding-top: 5em;
    max-width: 1024px;
    margin: 0 auto;
  }

  #trafficHeader a {
    margin-right: 15px;
  }

  .flex-item {
    flex: 1 35%;
    max-width: 450px;
  }

  .box {
    padding: 1em;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 1px 2px 0px #484848;
  }

  .dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 5px;
  }

  #alertBar {
    box-shadow: 0px 1px 2px 0px #484848;
  }

  .social-stat {
    font-size: 2em;
    margin-top: 0px;
    margin-bottom: 0px;
  }

}
